<header>
  <div class="header-container">
      <h2>{{title}}</h2>
      <div class="navbar"> 
        <a href="/">Home</a>
        <a href="/blog-create">Create blog</a>
      </div>
     
  </div>  
</header>

